﻿@model IEnumerable<Task24_Low.Models.Article>
@{
    ViewBag.Title = "Home";
}

@foreach (var item in Model)
{
    <article>
        <div>
            <h1>
                @item.Header
            </h1>
        </div>
        <div>
            <p>
                @item.Content
            </p>
        </div>
        <p>@item.Date</p>
    </article>
}